@using BeerBoutique.Yeast
@model Models.ViewModels.ReviewViewModel
@{
    Layout = null;
    var accounts = OAuthWebSecurity.GetAccountsFromUserName(Model.UserName);
}


<dl class="dl-horizontal">
    <dt>Weighted Score</dt>
    <dd>
        <div class="rateit" data-rateit-ispreset='true' data-rateit-readonly='true' data-rateit-value='@Model.WeightedScore'></div>
    </dd>
    <dt>Appearance (@Model.Review.AppearanceScore)</dt>
    <dd>@Model.Review.AppearanceDescription</dd>
    <dt>Aroma (@Model.Review.AromaScore)</dt>
    <dd>@Model.Review.AromaDescription</dd>
    <dt>Taste (@Model.Review.TasteScore)</dt>
    <dd>@Model.Review.TasteDescription</dd>
    <dt>Overall</dt>
    <dd>@Model.Review.OverallDescription</dd>
</dl>
<div class="review-footer">
    <div style="float: left;">
        @if (accounts.Count > 0)
        {
            var account = accounts.First();
            <img src="@Helpers.GetProfilePictureUri(account.Provider, account.ProviderUserId)" alt="@User.Identity.Name" style="max-height: 30px;float:left;" class="img-polaroid"/>
        }
        <span>@Model.UserName</span>
    </div>
    @Model.Review.Created.ToShortDateString()
</div>
