@using BeerBoutique.Yeast
@if (Request.IsAuthenticated)
{
    var accounts = OAuthWebSecurity.GetAccountsFromUserName(User.Identity.Name);
    <ul class="nav pull-right">
        <li class="dropdown">
            @if (accounts.Count > 0)
            {
                var account = accounts.First();
                <img src="@Helpers.GetProfilePictureUri(account.Provider, account.ProviderUserId)" alt="@User.Identity.Name" style="max-height: 30px;float:left;" class="img-polaroid"/>
            }
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                @User.Identity.Name
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("My Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                <li><a tabindex="-1" href="#">My Beers</a></li>
                <li><a tabindex="-1" href="#">Options</a></li>
                <li class="divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <a tabindex="-1" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
